<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ghost: Main</title>

<!-- Angular and Bootstrap-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header"><a class="navbar-brand" href="/GhostGroove">Ghost Groove</a></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/GhostGroove/user/create"><span class="glyphicon glyphicon-user"></span>Create Account</a></li>
				<li><a href="/GhostGroove/user/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<p>Who do you think, the Libyans. I noticed you band is on the roster for dance auditions 
		after school today. Why even bother Mcfly, you haven't got a chance, you're too much like 
		your own man. No McFly ever amounted to anything in the history of Hill Valley. Now, now, 
		Biff, now, I never noticed any blindspot before when I would drive it. Hi, son. Uncle Jailbird 
		Joey? Right.</p>
		<p>Right. Marty, you seem so nervous, is something wrong? Look me up when you get there, 
		guess I'll be about 47. Your not gonna be picking a fight, Dad, dad dad daddy-o. You're coming
		 to a rescue, right? Okay, let's go over the plan again. 8:55, where are you gonna be. I'm, I'm 
		 sorry, Mr. McFly, I mean, I was just starting on the second coat.</p>
		 <p>Doc, is that a de- Well, now we gotta sneak this back into my laboratory, we've gotta get you 
		 home. Uh, you mean nobody's asked you? I'm really gonna miss you. Doc, about the future- What the 
		 hell is this?</p>
	</div>
	
</body>
</html>