<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Search for Beans -->
	<context:component-scan base-package="com.revature"></context:component-scan>
	
	<!-- MVC Annotations and set up for JSON binding -->
	<bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
	</bean>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper"/>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- Enable static resource retrieval -->
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/static/views/" mapping="/views/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/static/styles/" mapping="/styles/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/static/scripts/" mapping="/scripts/**"></mvc:resources>
	
	<!-- Pages Mappings -->
	<mvc:view-controller path="/" view-name="landing"/>
	<mvc:view-controller path="/playlist" view-name="playlistview"/>

</beans>